.languageTwo{
    border: 2px solid red;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.habilities {
    border: 2px solid red;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.volunteerTwo{
    border: 2px solid red;
    display: flex;
    flex-direction: column;
    align-items: center;
}